.course-card {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}

.course-title {
    font-size: 20px;
}

.course-info {
    font-size: 16px;
    color: #101010;
}

.course-type {
    font-size: 16px;
    color: gray;
}

.course-details {
    text-align: center;
}

.icon-container {
    text-align: right;
    margin-top: -15px;
}
